$background-color = lightblue
$bgImg0 = url('~@/assets/bg0.jpg') no-repeat
$bgImg1 = url('~@/assets/bg1.jpg') no-repeat

p
  margin: 0

.bgImg1
  background-image: url('~@/assets/bg1.jpg')
  background-size: cover
  background-clip: padding-box
  background-position: center center